section{
    background-color: #000E8C;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    
}

button {
    background: none;
    border: 0;
    color: white;
    padding: 0 100px;
}
